body {
	/*background-color: black;*/
	color: white;
	font-family: 'Aref Ruqaa', serif;
	margin: 0;
}

header {
	background-color: gray;
}

main {
	background-color: black;
}

main ul li {
	list-style: none;
	display: inline-block;
	margin: 5px;
}

main ul li a {
	outline: none;
}

footer {
	background-color: gray;
}

.img-with-border {
	border: 2px solid yellow;
}

