body {
	/*background-color: black;*/
	color: white;
	font-family: 'Aref Ruqaa', serif;
	margin: 0;
}

header {
	background-color: gray;
}

main {
	background-color: black;
}

main ul li {
	list-style: none;
	display: inline-block;
	margin: 5px;
}

main ul li a {
	outline: none;
}

footer {
	background-color: gray;
}

a {
	text-decoration: none;
}

.img-with-border {
	border: 2px solid yellow;
}

.zoom-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 800px;
	margin: 0 auto;
}

.arrow {
	font-size: 100px;
	position: absolute;
	top: 150px;
	color: #ffffff;
	cursor: pointer;
}

.arrow-left {
	left: 0;
}

.arrow-right {
	right: 0;
}
